* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "Fira Code";
}

// Colors
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

$text: #cdd6f4;
$subtext0: #a6adc8;
$subtext0: #bac2de;

$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;

$overlay0: #6c7086;
$overlay1: #7f849c;
$overlay2: #9399b2;

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #f5c2e7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;

// Theme
$primary: #a6e3a1;
$secondary: #cba6f7;
//Global Styles
.bar {
  background-color: $base;
  color: $text;
  padding: 10px;
}
.workspaces-widget .workspace-entry { 
  background:$mantle; 
  padding:0 10px;
}
.workspaces-widget .current { 
  background:$surface0;
  border-bottom:2px solid $secondary;
}

.workspaces-widget .empty {
  color:$base;
}

tooltip.background { 
  background-color: $mantle;
  font-size: 15;
  padding:20px;
  border-radius: 10px;
  color: $text;
}
// Styles on classes (see eww.yuck for more information)
.cpu_indicator,
.battery_indicator,
.mem_indicator,
.vol_indicator{
  background:$surface0;
  margin:0 8px;
  border-radius:50%;
}
.mem_indicator tooltip {
  background:red;
}
.mem_indicator {
  color: $green;
}

.battery_indicator {
  color:$peach;
}

.cpu_indicator {
  color:$red;
}

.vol_indicator{
  color:$blue;
}

.mem_module label {
  font-size:15px;
}
.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}
.workspaces button:hover {
  color: blue;
}

